<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Date:</b>
  <%= short_date_time @event.date %>
</p>

<p>
  <b>Details:</b>
  <%= @event.details %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location.name %>
</p>

<h1>Listing requirements</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Requirement</th>
  </tr>

<% @requirements.each do |requirement| %>
  <tr>
    <td><%= requirement.item.name %></td>
    <td><%= requirement.qty %> <%= requirement.item.unit %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
