<h1>Admin</h1>
<p>
   Admin options:
	<ul>
		<li><%= link_to 'Create an event', new_event_path %></li>
		<li><%= link_to 'Manage Events', events_path %></li>
		<li><%= link_to 'Manage Categories', categories_path %></li>
		<li><%= link_to 'Manage Items', items_path %></li>
		<li><%= link_to 'Manage Locations', locations_path %></li>
		<li><%= link_to "Edit Admin user details", edit_user_path(current_user) %></li>
		<li><%= link_to "Create a new Admin user", new_user_path %></li>
	</ul>
</p>

<h3>Notes on editing Events:</h3>
<h5>When deleting a Item from an Event</h5>
<p>
This can be done from the 'Manage Events' link on the Admin page and then clicking 'Edit' whereby you can then 'Remove' the Item. Be sure to click 'Update Requirements' to save the changes. Please note: Any contributions already made for this Item will remain in the system, but appear as 'No longer needed' on the Home, Contributions and specific Event page. 
</p>
<h5>Reducing the required quantity of an Item to less than the total quantity already Contributed</h5>
<p>
When editing an Event's requirements, you will see a notice indicating the amount of already contributed items for each Requirement. Therefore a minimum quantity is set equal to this value to avoid errors. Should you wish to reduced the quantity of an item below that of the total quantity of already contributed items, click on the 'Options' link of a corresponding Item contribution from the Contributions page and select "Make 'not needed'". This will cancel (but not delete) the contribution and you can then return to the Event edit page and reduce the required quantity further.
</p>

