<h1>Upcoming events... <span class="small-text">click on 'requirements' and
make a contribution.</span></h1>

<% if @events.count > 0 %>
<table>
  <tr class="large">
    <th>Name</th>
    <th>Location</th>
    <th>Date</th>
  </tr>
<% @events.each do |event| %>
  <tr>
    <td class="large"><%=h event.name %></td>
    <td class="large"><%=h event.location.name %></td>
    <td class="large"><%=h short_date_time event.date %></td>
    <td class="large"><%= link_to 'Requirements', event %></td>
  </tr>
<% end %>
</table>
<% else %>
<h3>There are no upcoming events.</h3>
<% end %>

<% if @contributions.count > 0 %>
	<h3>Thank you! The following contributions have recently been made.</h3>

	<table>
		<tr>
		  <th>Date</th>
		  <th>Qty Unit</th>
		  <th>Item</th>
		  <th>Contributed by</th>
		  <th>For Event</th>
		</tr>

		<%= render :partial => 'contribution', :collection => @contributions %>

	</table>

	<%= will_paginate @contributions %>
<% end %>
