<h1>Upcoming events... <span class="small-text">click on 'requirements' and
make a contribution.</span></h1>

<table>
  <tr class="large">
    <th>Event</th>
    <th>Location</th>
    <th>Date</th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td class="large"><%=h link_to event.name, event %></td>
    <td class="large"><%=h event.location.name %></td>
    <td class="large"><%=h short_date_time event.date %></td>
    <td class="large"><%= link_to 'Requirements', event %></td>
  </tr>
<% end %>
</table>

<h3>Thank you! The following contributions have recently been made.</h3>

	<table>
		<tr>
			<th>Date</th>
		  	<th>Quantity</th>
		  	<th>Item -- Unit</th>
		  	<th>Contributed by</th>
		  	<th>For Event</th>
		</tr>
	<% @contributions.each do |contribution| %>
		<tr>
		  <td><%=h short_version_of contribution.created_at %></td>
		  <td><%=h contribution.qty %></td>
		  <td><%=h contribution.item.name_and_unit %></td>
		  <td><%= truncate contribution.contributor,:length => 22 %></td>
		  <td><%=h link_to contribution.event.name, contribution.event %></td>
		</tr>
	<% end %>
	</table>