<h1>Listing contributions</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Qty</th>
    <th>Item</th>
    <th>Contributor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contributions.each do |contribution| %>
  <tr>
    <td><%= contribution.event.name %></td>
    <td><%= contribution.qty %></td>
    <td><%= contribution.item.name_and_unit %></td>
    <td><%= contribution.contributor %></td>
    <td><%= link_to 'Show', contribution %></td>
    <td><%= link_to 'Edit', edit_contribution_path(contribution) %></td>
    <td><%= link_to 'Destroy', contribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contribution', new_contribution_path %>
